p {
    font-size: 50px;
    font-weight: bold;
    margin: 75px;
    
}

.modal-title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}


.form-group {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.form-control {
    size: 35px;
}

.modal-body {
    text-align: center;
}

.btn-btn-primary {
    font-size: 20px;
    background-color: lightgray;
    margin: 20px;
}

.btn-primary{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}