p {
    font-size: 50px;
    font-weight: bold;
    margin: 75px;
    
}

.modal-header p {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.modal-title {
    font-size: 50px;
    margin-bottom: 20px;
}

.form-group {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.form-control {
    font-size: 35px;
}


.modal-body {
    text-align: center;
    
}

.btn-btn-primary {
    font-size: 20px;
    background-color: lightgray;
    margin: 20px;
}

.btn-primary{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 20px 500px 20px 500px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 15px;
}
